<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>퀴즈 시작</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h2>퀴즈 설정</h2>
    <div style="margin-bottom: 20px;">
        <span th:if="${userNickname == '비 회원자 입니다.'}">(비 회원자는 퀴즈 기록이 저장되지 않습니다.)</span>
    </div>
    <form th:action="@{/quizStart}" method="post" class="form-container">
        <!-- 회원 ID 처리 -->
        <div th:if="${memberId != null}" >
            <input type="hidden" id="memberId" name="memberId" th:value="${memberId}">
        </div>
        <!-- 비회원일 경우 memberId 입력 필드는 필요 없음 -->
        <div>
            <label for="count">문제 수</label>
            <input type="number" id="count" name="count" class="form-input" placeholder="풀고 싶은 문제 수를 입력하세요" required>
        </div>
        <button type="submit" class="form-button">퀴즈 시작</button>
    </form>
</div>
</body>
</html>